- page_title "Popular followers"

- content_for :footer do
  = pagination_buttons(@followers)
  
%ul(data-role="listview" data-inset="true")
  %li(data-role="list-divider") Followers populaires
  
  - @followers.each do |follower|
    %li
      = link_to "http://twitter.com/#{follower.twitter_screen_name}" do
        = image_tag follower.twitter_profile_image_url, :class => "profile-picture"
        %h3= follower.twitter_screen_name
        %p= follower.twitter_latest_tweet_text
        %span{ :class => "ui-li-count" }= follower.twitter_followers_count
