- page_title "Spam followers"

.data-table
  = form_tag batch_create_dashboard_blocks_path, :method => :post do
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th Select
          %th Picture
          %th Name
          %th Followers count
          %th Followings count
          %th Latest tweet
      %tbody
        - @followers.each_with_index do |follower, index|
          %tr{ table_tr_attrs(index) }
            %td= check_box_tag "twitter_ids[]", follower.twitter_id
            %td= image_tag(follower.twitter_profile_image_url)
            %td= link_to follower.twitter_screen_name, "http://twitter.com/#{follower.twitter_screen_name}"
            %td= follower.twitter_followers_count
            %td= follower.twitter_friends_count
            %td= follower.twitter_latest_tweet_text
    
    = submit_tag "Block selected"
    