- page_title "Spam followers"

- content_for :footer do
  = pagination_buttons(@followers)

= form_tag batch_create_dashboard_blocks_path, :method => :post do
  %ul(data-role="listview" data-inset="true")
    %li(data-role="list-divider") Followers populaires
    
    - @followers.each do |follower|
      %li
        = check_box_tag "twitter_ids[]", follower.twitter_id
        = link_to "http://twitter.com/#{follower.twitter_screen_name}" do
          = image_tag follower.twitter_profile_image_url, :class => "profile-picture"
          %h3= follower.twitter_screen_name
          %p= follower.twitter_latest_tweet_text
          %span{ :class => "ui-li-count" }= follower.twitter_followers_count
    
    = submit_tag "Block selected"
    