= form_for User.new, :url => user_session_path, :html => { "data-ajax" => false } do |f|
  %div(data-role="fieldcontain")
    = f.label :email
    = f.email_field :email
  %div(data-role="fieldcontain")
    = f.label :password
    = f.password_field :password


  %div(class="ui-body ui-body-b")
    %fieldset(class="ui-grid-a")
      %div(class="ui-block-a")
        %button(type="submit" data-theme="d") Cancel
         
      %div(class="ui-block-b")
        %button(type="submit" data-theme="a") Submit
