= form_for [:dashboard, @short_url] do |f|
  %div{:style => "margin:0;padding:0"}
  %h3.title Shorten one or more URLs :-)
  %ul
    %li
      = f.label :chunk
      .input-field
        = f.text_field :chunk, :class => "input-text"
        
    = f.fields_for :redirections do |redirection_fields|
      = render "redirection_fields", :f => redirection_fields
    
    = link_to_add_fields "Add redirection", f, :redirections
  = f.submit "Shrink!"
  
