%li.fields
  = f.label :full_url
  .input-field
    = f.text_field :full_url, :class => "input-text"
  = f.label :description
  .input-field  
    = f.text_field :description, :class => "input-text"
  = link_to_remove_fields "remove", f

