- page_title "ixi.me URL Shortener"

.form-create
  = render "form_twitter"

= error_messages_for @short_url
.form-create
  = render "form"

.data-table
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th{:colspan => "3"} Active URLs
    %tbody
      - @short_urls.each_with_index do |short_url, index|
        %tr{ table_tr_attrs(index) }
          %td
            %label.label.ticket /#{short_url.chunk}
            = clippy(short_url.url, index.odd? ? "#f2f7f9" : "#FFFFFF")
            %br
            - short_url.redirections.each do |redirection|
              = link_to redirection.full_url, redirection.full_url
          %td.author
            Clicks :
            = link_to [:dashboard, short_url] do
              %span{ :id => "short-url-#{short_url.id}" }= short_url.requests_counter_cache
          %td.date
            %strong= l short_url.created_at
          %td
            = link_to "tweet", "#", :class => "tweet-copy", :"data-url" => short_url.url
            = link_to "live", [:live, :dashboard, short_url]
            = link_to "destroy", [:dashboard, short_url], :method => :delete, :confirm => "Are you sure you want to destroy this short url?"

= will_paginate @short_urls
%br
    
:javascript
  function getClicksCount() {
    $.get("/dashboard/short_urls.json?page=#{params[:page] || 1}", function(data) {
      $.each(data, function() {
        $("#short-url-" + this.id).html(this.clicks_count);
      });
    });
  }

  $(document).ready(function() {
    $(".tweet-copy").click(function() {
      $("#twitter_status_message").val($(this).attr("data-url") + " > ");
      $("#twitter_status_message").focus();

      return false;
    });

    setInterval(getClicksCount, 10000);
  });
