- page_title "ixi.me URL Shortener"

- content_for :footer do
  %a(href="#twitter-dialog" data-role="button" data-icon="star" data-inline="true" data-transition="pop") Twitter
  %a(href="#add-url-dialog" data-role="button" data-icon="plus" data-inline="true" data-transition="pop") Ajouter

- content_for :other_pages do
  #twitter-dialog(data-role="page")
    %div(data-role="header" data-position="inline")
      %h1 Twitter
    %div(data-role="content")
      %h3 Twitter

      = form_for @twitter_status, :url => update_twitter_status_dashboard_short_urls_path do |f|
        %div(data-role="fieldcontain")
          = f.label :message
          = f.text_area :message, :size => "90x5"

        %button(type="submit" data-theme="a") Twitter !

  #add-url-dialog(data-role="page")
    %div(data-role="header" data-position="inline")
      %h1 Ajouter
    %div(data-role="content")
      %h3 Ajouter une redirection

      = form_for [:dashboard, @short_url] do |f|
        %div(data-role="fieldcontain")
          = f.label :chunk
          = f.text_field :chunk
        
        = f.fields_for :redirections do |redirection_fields|
          = render "redirection_fields", :f => redirection_fields

        %button(type="submit" data-theme="a") Ajouter

%ul(data-role="listview" data-inset="true" data-split-icon="delete" data-split-theme="d")
  %li(data-role="list-divider") Adresses actives

  - @short_urls.each do |short_url|
    %li
      = link_to [:dashboard, short_url], :"data-ajax" => false do
        %h3= short_url.url
        %p= short_url.redirections.map(&:full_url).join(", ")
        %span{ :class => "ui-li-count", :id => "short-url-#{short_url.id}" }= short_url.requests_counter_cache
      = link_to "Delete", [:dashboard, short_url], :method => :delete

= will_paginate @short_urls
    
:javascript
  function getClicksCount() {
    $.get("/dashboard/short_urls.json?page=#{params[:page] || 1}", function(data) {
      $.each(data, function() {
        $("#short-url-" + this.id).html(this.clicks_count);
      });
    });
  }

  $(document).ready(function() {
    $(".tweet-copy").click(function() {
      $("#twitter_status_message").val($(this).attr("data-url") + " > ");
      $("#twitter_status_message").focus();

      return false;
    });

    setInterval(getClicksCount, 10000);
  });
