- content_for :footer do
  %a(href="#twitter-dialog" data-role="button" data-icon="star" data-inline="true" data-transition="pop") Twitter
  = link_to "Live!", live_dashboard_short_url_path(@short_url), "data-role" => "button", "data-inline" => true, "data-ajax" => false

- content_for :other_pages do
  #twitter-dialog(data-role="page")
    %div(data-role="header" data-position="inline")
      %h1 Twitter
    %div(data-role="content")
      %h3 Twitter

      = form_for @twitter_status, :url => update_twitter_status_dashboard_short_urls_path do |f|
        %div(data-role="fieldcontain")
          = f.label :message
          = f.text_area :message, :size => "90x5"

        %button(type="submit" data-theme="a") Twitter !

%h3 Redirection #{@short_url.url}

%ul(data-role="listview" data-inset="true")
  %li(data-role="list-divider") Requêtes
  
  - @short_url.requests.desc(:created_at).each do |url_request|
    %li
      %h3= url_request.referrer
      %p= url_request.user_agent
      %p= l url_request.created_at
