- page_title "Tableau de bord - Bienvenue !"

.page-content
  .notes-detail
    .close-note
    .shadow
      %div
        %ul
          %li
            Twitter - Vous avez
            %font{:color => "#f15a24"}= current_user.twitter_followers_count
            followers,
            - delta_count = current_user.twitter_followers_delta_count
            - if delta_count > 0
              vous êtes suivi par #{content_tag(:font, delta_count, :color => "#f15a24")} #{pluralize(delta_count, "utilisateur", :without_count => true)} de plus par rapport à la veille.
            - elsif delta_count.zero?
              vous n'avez aucune personne de plus qui vous suit par rapport à la veille.
            - elsif delta_count < 0
              vous avez perdu #{content_tag(:font, delta_count.abs, :color => "#f15a24")} #{pluralize(delta_count, "utilisateur", :without_count => true)} par rapport à la veille. :-(
            

