!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1")
    %title Socianalytics
    %link(rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js")
    %script(type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js")
    = javascript_include_tag "rails"
    = javascript_include_tag "highcharts"
    
    = csrf_meta_tag

  %body
    %div(data-role="page" data-theme="b" id="home")
      %div(data-role="header")
        %h1 Socianalytics Dashboard
        - unless current_page?(:controller => "dashboard/home", :action => "show")
          = link_to "Home", dashboard_root_path, "data-icon" => "home", "data-iconpos" => "notext", "data-ajax" => false, :class => "ui-btn-left"
      %div(data-role="content")
        = yield
      
      - if content_for?(:footer)
        %div(data-role="footer")
          = yield :footer
    
    = yield :other_pages
    
